  .grid{
    display: grid;
    grid-template-columns: 150px 1fr;
  }
  body {
    margin:0;
  }
  a {
    padding-left:10px;
    text-decoration: none;
  }
  h1 {
    font-size:50px;
    text-align: center;
    border-bottom:1px solid black;
    margin:0;
    padding:20px;
  }


  .grid ol{
    border-right:1px solid black;
    width:100px;
    margin:0;
    padding-left: 37px;
    padding-right: 0;
    padding-top: 16px;
    padding-bottom: 20px;
  }
  #detail ol{
    border-right: none;
    padding-left: 24px;
  }



  @media(max-width:620px){
    img{
      display: none;
    }
    #grid{
      grid: none;
    }
    #grid ol{
      border-right: none;
    }
  }
